# F-String

## Text Concatination
* Join text with varaible and other type of objects.
1. '+'
* Type casting required
2. '''.format(var1, var2)
* No need type casting.
* Required position of variable.
3. %
* Require each data type symbols.
4. f"{var1} any text {var2}"
* no need of type casting and position.

# Static vs Dynamic
1. Static
* Always same
2. Dynamic
* Change

# Variable
* Dynamic
1. It will receive data from other sources like (database, excel)
2. Store dynamic value
3. It has own data types
* String, int, float, boolean, list, tuple, dictionary.

In [1]:
1 + 1
print(1+1)      # int
print ("1" + "1")     # String (Text concatination)

2
11

# How to create a variable
' Variable_name = variable_value '
1. Variable_name
* write meaning full name excluding space and any special characters
2. ' = ' assign operator
3. = variable value

## Example
' Student_name = "Simra Nasir" '
1. Variable_name (Student_name)
2. Assign operator (=)
3. variable_value ("Simra Nasir")

In [3]:
name = "Simra Nasir"    # case sensitive
print(name)
Name = "Simra Nasir"
print(Name)

Simra Nasir
Simra Nasir

## How to create string
1. ' your string here '
2. " your string here"
3. '''
your multi line string here
'''
4. """ your multi line string here """

In [5]:
data = "Pakistan zindabad"
print(data)
data = 'Pakistan zindabad'
print(data)
data = '''
Pakistan zindabad
we love our country
'''
print(data)
data = """
Pakistan zindabad
we love our country
"""
print(data)
print(type(data))

Pakistan zindabad
Pakistan zindabad

Pakistan zindabad
we love our country


Pakistan zindabad
we love our country

<class 'str'>

In [6]:
data = ''' Pakistan zindabad
Hello world
we love our country '''
print(type(data))
print(data)

<class 'str'>
 Pakistan zindabad
Hello world
we love our country

In [7]:
data = """ Pakistan zindabad
Hello world
we love our country """
print(data)
print(type(data))

 Pakistan zindabad
Hello world
we love our country
<class 'str'>

### Old way to do samething

In [8]:
data = "pakistan zindabad \n Hello world \n we love our country"
print(type(data))
print(data)

<class 'str'>
pakistan zindabad
 Hello world
 we love our country

#### Solve some problems

In [10]:
data = "my name is simra nasir and father's name is muhammad nasir"
print(data)

my name is simra nasir and father's name is muhammad nasir

In [12]:
data = "my name is \"simra nasir\" and father's name is muhammad nasir"
print(data)

my name is "simra nasir" and father's name is muhammad nasir

In [13]:
data = '''my name is "simra nasir" and father's name is muhammad nasir'''
print(data)

my name is "simra nasir" and father's name is muhammad nasir

# Text concatination
* Join text with text and other data types

In [14]:
name = "Simra Nasir"
Father_name = "Muhammad Nasir"
print(name)
print(Father_name)

Simra Nasir
Muhammad Nasir

In [19]:
name = "Simra Nasir"
Father_name = "Muhammad Nasir"
message = "Hello, " + name  +  " your father name is " + Father_name
print(message)

Hello, Simra Nasir your father name is Muhammad Nasir

# .format()
* at the end of the string

In [20]:
name = "Simra Nasir"
Father_name = "Muhammad Nasir"
message = "Hello, {} your father name is {}".format(name, Father_name)   # {} is a place holder, first curly bracket ka index zero hai and so on
print(message)

Hello, Simra Nasir your father name is Muhammad Nasir

In [23]:
Name = "Asma Nasir"
Wife_of = "Muhammad Nasir Ahmed Khan"
Daughters = 3
Son = 1
message = "Hello,  {} wife of {} and has {} daughters and {} son.".format(Name, Wife_of, Daughters, Son)
print(message)

Hello,  Asma Nasir wife of Muhammad Nasir Ahmed Khan and has 3 daughters and 1 son.

In [26]:
Student_name = "Zain Khan"
Class = 12
School_name = "Beacon house"
City = "Karachi"
message = "{} is a student of class {} belongs to {} and lives in {}.".format(Student_name, Class, School_name, City)
print(message)

Zain Khan is a student of class 12 belongs to Beacon house and lives in Karachi.

# 3. %
* place at the end of string

In [27]:
name = "Simra Nasir"
Father_name = "Muhammad Nasir"
message = "Hello, %s your father name is %s" % (name, Father_name)
print(message)

Hello, Simra Nasir your father name is Muhammad Nasir

# 4. F-string
* place f before starting boundary

In [29]:
name = "Simra Nasir"
Father_name = "Muhammad Nasir"
message = f"""NED Student Card
Name: {name}
Father: {Father_name}
"""
print(message)

NED Student Card
Name: Simra Nasir
Father: Muhammad Nasir